
header {
        text-align: center;
        background: url("../header background.jpg");
        background-size: cover;
        margin: 0 auto;
    }

body {
      background-color: rgba(200,110,194,0.1);
    }

    a {
      color: white;
      }
    h1 {
      font-size: 50px;
      margin: -20px 0px -20px 0px;
      font-family: 'Rock Salt', cursive;
      }
    img {
      margin: 10px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
      height: 200px;
      width: 200px;
      }
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.6);
      font-family: 'Raleway', sans-serif;
    }
    li {
        display: inline;
        font-size: 15px;
        padding:0px 10px 0px 10px;
    }

    div {
      padding: 20px;
      margin: 0 auto;
      max-width: 500px;
      }
      @media (max-width: 500px) {
        h1 {
          font-size: 36px;
          }
        li {
          display:block;
          padding: 5px;
          }
        }
      }


      .container {
        flex:1;
      }

.paragraphs{
  font-family: Helvetica;
  font-size: 3em;
  text-align: center;
  color: black;

}
